Repository cffnpwr/darwin-ism: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: treefmt --fail-on-change {staged_files}
  stage_fixed: true

lint:
  run: DYLD_FRAMEWORK_PATH="${__NIX_SWIFT_LIB:-$DYLD_FRAMEWORK_PATH}" swiftlint lint --config .swiftlint.yaml --strict {staged_files}

docs: :memo: READMEにpre-commit hookとlinter/formatterについて記載
  README-ja.md
  README.md
Due: none

feat: :sparkles: 入力ソースセレクタの実装追加
  .swiftformat
  Package.resolved
  Package.swift
  Sources/darwin-ism/CLI.swift
  Sources/darwin-ism/InputSource.swift
  Sources/darwin-ism/InputSourceManager.swift
  Sources/darwin-ism/main.swift
  flake.nix
  nix/darwin-ism/nix/default.nix
  nix/darwin-ism/nix/workspace-state.json
  nix/darwin-ism/package.nix
  nix/swiftpm2nix.nix
Due: format, lint

ci: :green_heart: ciでのlint/formatとrelease-pleaseを追加
  .github/release-please/config.json
  .github/release-please/manifest.json
  .github/workflows/check-status.yaml
  .github/workflows/ci.yaml
  .github/workflows/publish.yaml
  .github/workflows/release-please.yaml
  Sources/darwin-ism/CLI.swift
Due: format, lint

ci: :green_heart: generic updaterのアノテーションを修正
  Sources/darwin-ism/CLI.swift
Due: format, lint

ci: :green_heart: ci用のdev shellsを分離
  .github/workflows/ci.yaml
  flake.nix
Due: format

ci: :green_heart: ライブラリのパスを指定
  nix/darwin-ism/package.nix
Due: format

docs: :memo: coding agent用ドキュメント追加
  .agents/docs/critical/rules.md
  .agents/docs/reference/architecture.md
  .agents/docs/reference/commands.md
  .agents/docs/workflows/release.md
  .claude/docs
  .serena/.gitignore
  .serena/memories/code_style_and_conventions.md
  .serena/memories/project_overview.md
  .serena/memories/project_structure.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion_checklist.md
  .serena/project.yml
  AGENTS.md
  CLAUDE.md
Due: none

feat: :sparkles: Swift5.10を使用
  .swift-version
  Package.resolved
  Package.swift
  Sources/darwin-ism/CLI.swift
  flake.lock
  flake.nix
  mise.toml
  nix/swift.nix
  nix/swiftpm2nix.nix
Due: format, lint

refactor: :recycle: pre commit hookをリファクタ
  lefthook.yaml
  scripts/check-swift-version.sh
Due: none

refactor: :recycle: swift2nixの生成ファイルをgeneratedに移動
  nix/darwin-ism/generated/default.nix
  nix/darwin-ism/generated/workspace-state.json
  nix/darwin-ism/package.nix
Due: format

ci: :green_heart: ciでのlint, formatの実行をnix runで実行するように
  .github/workflows/ci.yaml
Due: none

style: :art: format files
  treefmt.toml
Due: none

feat: :sparkles: 表示の幅を要素の長さに合わせて動的に変更するように
  Sources/darwin-ism/CLI.swift
Due: format, lint

docs: :memo: update agents.md
  .agents/docs/critical/rules.md
  .agents/docs/reference/commands.md
  .serena/project.yml
  AGENTS.md
Due: none

fix: :bug: release-pleaseのextra-filesのファイル名の大文字小文字を修正
  .github/release-please/config.json
Due: none

ci: :green_heart: ci.yamlをbuild-check / swiftlint / format-checkに分割
  .github/workflows/build-check.yaml
  .github/workflows/ci.yaml
  .github/workflows/format-check.yaml
  .github/workflows/swiftlint.yaml
Due: none

ci: :green_heart: publish.yamlをrelease-please.yamlに統合し、リリースフローを改善
  .github/workflows/publish.yaml
  .github/workflows/release-please.yaml
Due: none

ci: :green_heart: ワークフローを共有ワークフローに移行
  .github/workflows/check-status.yaml
  .github/workflows/flake-check.yaml
  .github/workflows/github-actions-lint.yaml
  .github/workflows/semantic-pr-title.yaml
  .github/workflows/status-check.yaml
Due: none

ci: :green_heart: Renovateを導入
  renovate.json
Due: none

ci: :green_heart: yamlfmtを導入
  flake.nix
  treefmt.toml
  yamlfmt.yaml
Due: format

style: :art: format files
  .github/workflows/release-please.yaml
  treefmt.toml
Due: none

fix: :bug: lintエラーの修正
  Sources/darwin-ism/CLI.swift
Due: format, lint

fix: :bug: swiftlintがnix環境で実行できるように修正
  .github/workflows/swiftlint.yaml
  flake.lock
  flake.nix
Due: format

fix: :bug: fix lint error
  Sources/darwin-ism/CLI.swift
Due: format, lint

ci: :green_heart: 独自キャッシュサーバを設定
  .github/workflows/build-check.yaml
  .github/workflows/flake-check.yaml
  .github/workflows/format-check.yaml
  .github/workflows/swiftlint.yaml
Due: none

fix: 🐛 swiftlintがnix環境で実行できるように修正 (#6)
  .github/workflows/build-check.yaml
  .github/workflows/flake-check.yaml
  .github/workflows/format-check.yaml
  .github/workflows/swiftlint.yaml
  Sources/darwin-ism/CLI.swift
  flake.lock
  flake.nix
Due: format, lint

chore: :wrench: renovateのmise swift package nameを修正
  renovate.json
Due: none

chore: :wrench: direnvの導入
  .envrc
  .gitignore
  .serena/project.yml
Due: none

chore: :wrench: renovateのmise swift package nameを修正 (#16)
  .envrc
  .gitignore
  .serena/project.yml
  renovate.json
Due: none

chore(deps): :package: pin swift argument parser v1.6.2
  Package.resolved
  Package.swift
Due: format, lint

chore: :package: update nix pakcage definition
  nix/darwin-ism/generated/default.nix
  nix/darwin-ism/generated/workspace-state.json
Due: format

ci: :green_heart: Package.swift, Package.resolvedの更新時にswiftpm2nixを実行
  .github/workflows/update-swiftpm2nix.yaml
Due: none

chore(deps): :package: pin swift argument parser v1.6.2 (#17)
  .github/workflows/update-swiftpm2nix.yaml
  Package.resolved
  Package.swift
  nix/darwin-ism/generated/default.nix
  nix/darwin-ism/generated/workspace-state.json
Due: format, lint

ci: :green_heart: swiftpm2nixの実行前にswift package resolveを実行するように
  .github/workflows/update-swiftpm2nix.yaml
Due: none

ci: :green_heart: swiftpm2nixの実行前にswift package resolveを実行するように (#20)
  .github/workflows/update-swiftpm2nix.yaml
Due: none

docs: :memo: claude codeの設定を調整
  .claude/docs
  AGENTS.md
  CLAUDE.md
Due: none

fix: :bug: update swiftpm2nixが権限不足で失敗する問題を修正
  .github/workflows/update-swiftpm2nix.yaml
Due: none

fix: :bug: update swiftpm2nixが権限不足で失敗する問題を修正 (#28)
  .claude/docs
  .github/workflows/update-swiftpm2nix.yaml
  AGENTS.md
  CLAUDE.md
Due: none

fix: :bug: update swiftpm2nix generated files
  nix/darwin-ism/generated/default.nix
  nix/darwin-ism/generated/workspace-state.json
Due: format

Path conditions:
  format: any of: *.{swift,nix}
  lint: any of: *.swift
