Repository cffnpwr/darwin-ism: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yaml:

pre-commit:
  parallel: true
  commands:
    check-swift-version:
      run: sh scripts/check-swift-version.sh

    check-tool-versions:
      run: sh scripts/check-tool-versions.sh

    format:
      glob: "*.{swift,nix}"
      run: treefmt --fail-on-change {staged_files}
      stage_fixed: true

    lint:
      glob: "*.swift"
      run: DYLD_FRAMEWORK_PATH="${__NIX_SWIFT_LIB:-$DYLD_FRAMEWORK_PATH}" swiftlint lint --config .swiftlint.yaml --strict {staged_files}

feat!: :fire: Swiftのソースを削除
  Sources/darwin-ism/CLI.swift
  Sources/darwin-ism/InputSource.swift
  Sources/darwin-ism/InputSourceManager.swift
Due: format, lint

feat: :sparkles: text-input-sourceにbundleIDフィルタ付きlist APIを追加
  text-input-source/src/tis_manager.rs
Due: none

feat!: :fire: RustのプロジェクトセットアップとSwiftのファイル削除
  .gitignore
  .serena/project.yml
  .swift-version
  .swiftformat
  .swiftlint.yaml
  .zed/settings.json
  Cargo.lock
  Cargo.toml
  Package.resolved
  Package.swift
  cli/Cargo.toml
  cli/src/main.rs
  flake.lock
  flake.nix
  lib/Cargo.toml
  lib/src/lib.rs
  mise.toml
  nix/darwin-ism/generated/default.nix
  nix/darwin-ism/generated/workspace-state.json
  nix/darwin-ism/package.nix
  nix/swiftformat.nix
  nix/swiftlint.nix
  renovate.json
  rust-toolchain.toml
  text-input-source/Cargo.toml
  text-input-source/src/lib.rs
  treefmt.toml
Due: format, lint

docs: :memo: ADR導入・Rust移行のADR記載
  docs/adr/0000-template.md
  docs/adr/0001-adopt-adr.md
  docs/adr/0002-migrate-to-rust.md
  docs/adr/0003-tis-api-ffi-binding.md
Due: none

docs: :memo: Rust移行に合わせたAGENTS.mdに変更
  .agents/docs/critical/rules.md
  .agents/docs/reference/architecture.md
  .agents/docs/reference/commands.md
  .agents/docs/workflows/release.md
  AGENTS.md
Due: none

feat: :sparkles: text input sourceの実装
  Cargo.lock
  Cargo.toml
  text-input-source/Cargo.toml
  text-input-source/LICENSE
  text-input-source/README-ja.md
  text-input-source/README.md
  text-input-source/build.rs
  text-input-source/src/ffi.rs
  text-input-source/src/input_source.rs
  text-input-source/src/lib.rs
  text-input-source/src/tis_manager.rs
Due: none

feat: :sparkles: text-input-sourceに不足プロパティを追加
  text-input-source/src/ffi.rs
  text-input-source/src/input_source.rs
  text-input-source/src/lib.rs
Due: none

feat: :sparkles: CLI実装の追加
  .editorconfig
  Cargo.lock
  Cargo.toml
  build.rs
  cli/Cargo.toml
  cli/src/main.rs
  lib/Cargo.toml
  lib/src/lib.rs
  src/cli.rs
  src/lib.rs
  src/main.rs
Due: none

ci: :green_heart: CIの設定をRust用に移行
  .github/release-please/config.json
  .github/release-please/manifest.json
  .github/workflows/clippy.yaml
  .github/workflows/swiftlint.yaml
  .github/workflows/update-swiftpm2nix.yaml
  Cargo.toml
  lefthook.yaml
  scripts/check-swift-version.sh
  scripts/check-tool-versions.sh
  text-input-source/Cargo.toml
Due: none

fix: :bug: lint errorの修正
  Cargo.toml
  build.rs
  clippy.toml
  rustfmt.toml
  src/cli.rs
  src/lib.rs
  text-input-source/build.rs
  text-input-source/src/input_source.rs
  text-input-source/src/lib.rs
  text-input-source/src/tis_manager.rs
Due: none

ci: :green_heart: rustのバージョン更新時にfenix sha256を更新するように
  .github/workflows/update-fenix-sha256.yaml
  flake.nix
  rust-toolchain.toml
  rustfmt.toml
  treefmt.toml
Due: format
